@import url('https://fonts.googleapis.com/css?family=Cuprum|Oswald&display=swap');

body {
  background: #f4f4f4;
  height: 1500px;

-webkit-font-smoothing: antialiased;
-webkit-overflow-scrolling: touch;
}

nav {
  background-color: #424242 !important;
  height: 60px;
}

h1,h2 {
  font-family: "Oswald";
  font-weight: 600;
  color: #333;
}

h3,h4,h5,h6 {
  font-family: "Oswald";
  font-weight: 400;
  color: #333;
}

p {
  line-height: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  color: #607d8b;
  text-decoration: underline;
  outline: 0;
}

nav .brand-logo {
  margin-top: 9px !important;
  float: left;
}

article {
  height: 800px;
  background: #1c1c1c;
}
